@import "tailwindcss";
@import "uniwind";
@import "heroui-native/styles";

/* custom themes */
@import "./themes/alpha.css";

/* default heroui-native styles */
@source '../../node_modules/heroui-native/lib';
